.DS_Store
mgpred.d
mgpred.hpp
mgpred
mgpred_sw
mgpred_sw.hpp
mgpred_sw.d
mgpred_werr
mgpred_werr.hpp
mgpred_werr.d
mgpred_werr_sw
mgpred_werr_sw.hpp
mgpred_werr_sw.d

# Matlab autosaves
**.asv

# stan csvs
output-1.csv
output-2.csv
output-3.csv
output-4.csv

# Stan temps
temp.data.R
temp.init.R